h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

body{
  font-family: 'Montserrat';
}

h3{
  font-weight: bold;
}

p{
  color: #8f8f8f;
}


/*--------Classes----------------*/
.container-fluid{
  padding: 3% 15%;
}

.navbar{
  padding-bottom: 50px;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.3em;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
  font-size: 1.5rem;
}

.download-button{
  margin: 5% 3% 3% 0;
}

.feature{
  padding:3%;
}

.feature-pic{
  padding:10px;
  color:#ef8172;
}

.feature-pic:hover{
  color:#ff4c68;
}
/*-----------IDs-----------------*/
#title {
  background-color: #ff4c68;
}

#phone {
  transform: rotate(30deg);
  width: 60%;
}

#features {
  text-align: center;
  padding: 7% 15%
}
